h1 {
    color: brown;
}

* {
    border: solid;
}

.header{

       background-color: rgb(19, 226, 209);
       display:flex;
       justify-content:space-between;
       
    }


.grid img{
    border: 2px solid black;
    border-radius: 50px
 

}  
.origami  {
    border-radius: 20px
   

    width: 310px;
    font-family: fantasy;
}
